nav.navbar {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}

footer.navbar {
    border-top:1px solid #ccc;
    margin-top:4rem;
}

div.banner {
    margin-top: 4rem;
}

div.banner p {
    font-size: larger;
}

div.banner h1.text-lg-center {
  margin-top: 5rem;
}

h1 {
    font-size: 1.8rem;
    margin: 1rem 0rem;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: 1.3rem;
    margin: 1.3rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #ccc;
}

div.container {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

div.jumbotron {
    background-image: url("/img/wordcloud.svg");
    background-position-y: -70%;
    background-color: #333;
}

div.card-episode {
    margin-top: 5rem;
}

@media(max-width:62em) {
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav {
        float:none !important;
    }
    .navbar .collapse.in, .navbar .collapsing  {
        clear:both;
    }
}

div.future-episodes {
    margin-bottom: 1rem;
}

div.intro {
    border:1px solid #0275d8;
}
