nav.navbar {
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 2rem;
}

footer.navbar {

}

div.banner {
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 2rem;
}

div.banner p {
    font-size: larger;
}

h1 {
    font-size: 1.8rem;
    margin: 1rem 0rem;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: 1.3rem;
    margin: 1.3rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #ccc;
}

div.card div.card-header,
div.card div.card-footer {
    /*background-color: #fff;*/
}

body {

}

div.container {
    margin-bottom: 6rem;
}

div.jumbotron {
    background-image: url("/img/wordcloud.svg");
    background-position-y: -70%;
    background-color: #333;
}
