<md-dialog aria-label="{{ episode.details.name }}" ng-init="episode.findOneByName()" class="episode-details">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ episode.details.name }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="episode.cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <iframe class="card-media" ng-src="{{ episode.details.video.full | trusted }}" allowfullscreen></iframe>
                <h3>Full Episode</h3>
                <p>{{ episode.details.description }}</p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-mini md-primary" aria-label="{{ action.name }}"
                       ng-href="{{ action.url }}" target="_blank"
                       ng-repeat="action in episode.details.actions">
                {{ action.name }}
            </md-button>
            <md-button class="md-raised md-mini md-warn" aria-label="Search on Twitter for {{ episode.details.series }}"
                       ng-href="https://twitter.com/hashtag/{{ episode.details.series }}?src=hash" target="_blank">
                #{{ episode.details.series }}
            </md-button>
            <span flex></span>
            <md-button ng-click="episode.cancel()">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
