---
layout: basic
category: CFGOnesToWatch2016
---

<div class="card intro">

    <div class="card-block">
        <div class="row">
            <div class="col-sm-4">
                <div class="card-img-top embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            src="//www.youtube.com/embed/2pGweL_rJMw?rel=0"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-8">
                <h4>
                    CF:G Introduction by Charalotte Fereday
                    <a class="nav-link" href="https://twitter.com/CharlotteBRF">
                        <i class="fa fa-twitter-square fa-1x"></i>
                    </a>
                    <a class="nav-link" href="https://github.com/charlottebrf">
                        <i class="fa fa-github-square fa-1x"></i>
                    </a>
                    <a class="nav-link" href="https://uk.linkedin.com/in/cfereday">
                        <i class="fa fa-linkedin-square fa-1x"></i>
                    </a>
                </h4>
                <p>Community Programmes Manager @codefirstgirls / Tech & education/ Social enterprise/Researcher of Spanish & digital cultures</p>
                <p>Code First Girls are a social enterprise, and raise our revenues through a combination of sponsorship and corporate services. All profits we make get plugged back in to running the community activities we do with smart young women who want to build careers in tech and entrepreneurship.</p>
                <p>Each year we run classes  that teach 1500+ women how to code, for free. Over the past 3 years we've delivered £1.5+ million of free coding courses, and helped companies to recruit better tech talent into their firms.</p>
                <p>Our community is now 3500+ strong, and is doing amazing things. Find out more by looking through our website and social communities, or just drop us a line at info@codefirstgirls.org.uk.</p>
            </div>
        </div>
    </div>

</div>

{% for post in site.posts %}
    {% if post.category == 'CFGOnesToWatch2016' %}
        {% include episode.html %}
    {% endif %}
{% endfor %}
