---
layout: basic
category: CFGOnesToWatch2016
---

<div class="card intro">

    <div class="card-block">
        <div class="row">
            <div class="col-sm-4">
                <div class="card-img-top embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            src="//www.youtube.com/embed/2pGweL_rJMw?rel=0"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-8">
                <h4>
                    CF:G Introduction by Charalotte Fereday
                    <a class="nav-link" href="https://twitter.com/CharlotteBRF">
                        <i class="fa fa-twitter-square fa-1x"></i>
                    </a>
                    <a class="nav-link" href="https://github.com/charlottebrf">
                        <i class="fa fa-github-square fa-1x"></i>
                    </a>
                    <a class="nav-link" href="https://uk.linkedin.com/in/cfereday">
                        <i class="fa fa-linkedin-square fa-1x"></i>
                    </a>
                </h4>
                <p>Community Programmes Manager @codefirstgirls / Tech & education/ Social enterprise/Researcher of Spanish & digital cultures</p>
            </div>
        </div>
    </div>

</div>

{% for post in site.posts %}
    {% if post.category == 'CFGOnesToWatch2016' %}
        {% include episode.html %}
    {% endif %}
{% endfor %}
