---
layout: basic
category: EmpowerHack
---

<div class="card intro">

    <div class="card-block">
        <div class="row">
            <div class="col-sm-4">
                <div class="card-img-top embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            src="//www.youtube.com/embed/Z1UYdSKClpI?rel=0"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-8">
                <h4>
                    EmpowerHack Introduction
                    <a class="nav-link" href="https://twitter.com/empowerhack">
                        <i class="fa fa-twitter-square fa-1x"></i>
                    </a>
                    <a class="nav-link" href="https://github.com/empowerhack">
                        <i class="fa fa-github-square fa-1x"></i>
                    </a>
                </h4>
                <p>Bringing people together to build solutions empowering women and girls in humanitarian contexts and creating sustainable tech that crosses borders.</p>
                <p>EmpowerHack is a collective that creates sustainable design for women and girls in humanitarian contexts. Bridging the gap between technology, design, and NGOs to address key challenges, EmpowerHack galvanises volunteers to create code that crosses borders.</p>
                <p>Despite up to 80% of world’s refugees being women and children, the problems faced by them are never at the forefront. EmpowerHack was born to change just that by taking collaborative design to scale. Female refugees are among the most vulnerable, facing sexual violence, coercion, forced and early marriage, social isolation, and a lack of access to gender-specific health care and education.</p>
            </div>
        </div>
    </div>

</div>

{% for post in site.posts %}
    {% if post.category == 'EmpowerHack' %}
        {% include episode.html %}
    {% endif %}
{% endfor %}
