---
layout: basic
category: HackBrexit
---

<h2>Beyond Brexit: Creating dialogue and action for a country divided</h2>

<p>Brexit is one of the most controversial and seismic political events in the UK’s recent history. Yet throughout the pre-referendum campaigns and aftermath of Brexit many questions remain unanswered and the future unclear.</p>

<p>Regardless of whether you voted in or out, this two day event is open to the tech and non-tech community to join forces to create dialogue and action beyond Brexit.</p>

{% for post in site.posts %}
    {% if post.category == 'HackBrexit' %}
        {% include episode.html %}
    {% endif %}
{% endfor %}
