<div class="row banner">
    <h1 class="text-lg-center">Giving you a voice in the #OpenSource Tech community to inspire others</h1>
    <div class="jumbotron">

    </div>
    <p><b>Why WeRockTech?</b> There are so many great podcasts already out there, why another one? At <b>WeRockTech</b> we want to focus on people you can relate to in the Open Source tech community - people like you. There are so many new people joining great tech related communities and who could not be happier - we want their voices heard and to inspire others to join too.</p>
</div>
