<div class="card written-by">
    <div class="card-header">
        Written by...
    </div>

    <div class="card-block">
        <div class="row">
            <div class="col-md-4">
                <img src="/img/blog/eddie-jaoude.jpg" class="img-rounded img-fluid" />
            </div>
            <div class="col-md-8">
                <h4>Eddie Jaoude</h4>
                <p>
                  ​Eddie has been programming for over a decade and has consulted for organisations in the financial, governmental and private sectors. Outside of his consultancy role Eddie enjoys attending and contributing to hackathons and conferences around the world which deal with a variety of technical and social issues. His first foray into the realm of Women's issues was EmpowerHack's "Empowering women and girl refugees" hackathon. Since then Eddie has contributed to EmpowerHack's Open Source projects from a technical perspective and has also brought his expertise and infectious enthusiasm to actively support the growth of women in tech at WHFNP and AcornAspirations. He has been likened to Sheldon Cooper from "The Big Bang Theory" with marginally more social skills.
                <a href="http://jaoudestudios.com">Jaoude Studios Ltd</a>
                Connect with Eddie Jaoude on <a href="https://twitter.com/eddiejaoude">Twitter</a> or <a href="https://www.linkedin.com/in/eddiejaoude">LinkedIn</a>.
              </p>
            </div>
        </div>
    </div>

    <div class="card-footer text-muted">
        OpenSource advocate. FullStack, PHP/Java, TDD/BDD, CI/CD. Passionate for #diversity & #inclusion. Families... @WeRockTech, @EmpowerHack, @WHFNP, @AcornAspiration @CodeFirstGirls @MumsInTech.
    </div>
</div>
