<footer class="footer navbar navbar-light">
    <p class="navbar-brand">&copy; WeRockTech 2016 by Eddie Jaoude</p>
    <p class="pull-right">
        <a class="nav-link" href="https://github.com/WeRockTech">
            <i class="fa fa-github-square fa-2x"></i>
        </a>
        <a class="nav-link" href="https://twitter.com/WeRockTech">
            <i class="fa fa-twitter-square fa-2x"></i>
        </a>
        <a class="nav-link" href="https://www.youtube.com/channel/UCifzdPOBbcfaLzziPcmcw4g">
            <i class="fa fa-youtube-square fa-2x"></i>
        </a>
    </p>
</footer>

</div> <!-- /container -->

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
{% include google-analytics.html %}
</body>
</html>
