<footer class="footer navbar navbar-fixed-bottom navbar-light">
    <p class="navbar-brand">&copy; WeRockTech 2016</p>
    <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/WeRockTech">
                <i class="fa fa-github-square fa-1x"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/WeRockTech">
                <i class="fa fa-twitter-square fa-1x"></i>
            </a>
        </li>
    </ul>
</footer>

</div> <!-- /container -->

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
{% include google-analytics.html %}
</body>
</html>
