<div class="card intro">
    <div class="card-block">
        <div class="row">
            <div class="col-sm-3">
                <div class="card-img-top embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            src="//www.youtube.com/embed/iC65AzJ4BAg?rel=0"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-9">
                <h4>WeRockTech Introduction</h4>

                <p><b>WeRockTech</b> empowers people from diverse backgrounds to become involved in the open source community. We want to ensure that open source truly is open by connecting a collaborative community of coders who can support and encourage each other.</p>
                <p>People from ethnic minorities, and women in general, are underrepresented in the software development industry. Open source in particular suffers from a lack of diversity.</p>
                <p>It’s important to increase the diversity of of the open source community to ensure that everyone has same the opportunity to contribute to open source projects, and we end up writing the best code.</p>

                <p>To engage more diverse groups of people:</p>

                <ul>
                  <li>We share exciting media content with members of the open source community.</li>
                  <li>We inform people about the issues in open source so we can provoke change.</li>
                  <li>We raise the profile of underrepresented individuals in open source who inspire others as role models.</li>
                </ul>

            </div>
        </div>
    </div>
</div>
