<div class="card intro">
    <div class="card-block">
        <div class="row">
            <div class="col-sm-7">
                <div class="card-img-top embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            src="//www.youtube.com/embed/iC65AzJ4BAg?rel=0"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-5">
                <h4>WeRockTech Introduction</h4>
                <p><b>WeRockTech</b> is a youtube channel which so far features discussions & conversations with people in
                    tech who have either contributed by way of their achievements or are new to the community and starting
                    explore how they can contribute & get involved, hopefully this will encourage more to join & do similar
                </p>
            </div>
        </div>
    </div>
</div>
