<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="WeRockTech">
  <meta name="author" content="Eddie Jaoude">
  <link rel="icon" href="favicon.ico">

  <title>WeRockTech</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
</head>

<body>

<div class="container">

  <div class="row text-lg-center">
    <div class="col-sm-12">
      <img class="card-img-top" src="/img/wordcloud.svg" alt="WeRockTech Word Cloud">
      <h1>WeRockTech.com</h1>
      <p>Giving you a voice in the #OpenSource Tech community to inspire others</p>
      <ul class="nav navbar-nav pull-lg-right">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/WeRockTech">
            <i class="fa fa-github-square fa-2x"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/WeRockTech">
            <i class="fa fa-twitter-square fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

</div> <!-- /container -->

<script src="/js/bootstrap.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-75600163-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
