{% include header.html %}

{% include navigation.html %}

{% include banner.html %}

{% for post in site.posts %}
<div class="card">
    <div class="card-header">
        <a target="_blank"
           href="https://twitter.com/hashtag/{{ post.series }}?f=tweets&vertical=default&src=hash">
            #{{ post.series }}</a> Series
    </div>

    <div class="card-block">
        <div class="row">
            <div class="col-sm-4">
                <div class="card-img-top embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            src="//www.youtube.com/embed/{{ post.youtube_teaser }}?rel=0"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-8">
                <h4>
                    {{ post.name }}
                    {% if post.twitter %}
                    <a class="nav-link" href="https://twitter.com/{{ post.twitter }}">
                        <i class="fa fa-twitter-square fa-1x"></i>
                    </a>
                    {% endif %}
                    {% if post.github %}
                    <a class="nav-link" href="https://github.com/{{ post.github }}">
                        <i class="fa fa-github-square fa-1x"></i>
                    </a>
                    {% endif %}
                    {% if post.linkedin %}
                    <a class="nav-link" href="http://linkedin.com/in/{{ post.linkedin }}">
                        <i class="fa fa-linkedin-square fa-1x"></i>
                    </a>
                    {% endif %}
                </h4>
                <p>{{ post.bio }}</p>
                <a href="{{ post.url }}" class="btn btn-primary">{{ post.name}} full video discussion</a>
            </div>
        </div>
    </div>

    <div class="card-footer text-muted">
        {{ post.display_date }}
    </div>
</div>
{% endfor %}

{% include footer.html %}
