<div ng-controller="MainCtrl as mc" ng-init="mc.getSeries()">

    <md-content layout-gt-sm="row">
        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>Search</label>
            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="keyword"></md-icon>
            <input ng-model="mc.search.query" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
            <md-button class="md-fab md-mini" aria-label="Clear" ng-click="mc.filterByTag()">
                <md-icon class="material-icons">clear</md-icon>
            </md-button>
        </md-input-container>
    </md-content>

    <md-card ng-repeat="episode in mc.series | filter:mc.search.query">
        <md-card-title>
            <md-card-title-media>
                <iframe class="card-media" ng-src="{{ episode.video.intro | trusted }}" allowfullscreen></iframe>
            </md-card-title-media>
            <md-card-title-text>
                <span class="md-headline">{{ episode.name }}</span>
                <span class="md-subhead">{{ episode.description }}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-mini" aria-label="{{ action.name }}"
                       ng-href="{{ action.url }}" target="_blank"
                       ng-repeat="tag in episode.tags"
                       ng-click="mc.filterByTag(tag.name)">
                {{ tag.name }}
            </md-button>
            <md-button class="md-raised md-mini md-primary" aria-label="{{ action.name }}"
                       ng-href="{{ action.url }}" target="_blank"
                       ng-repeat="action in episode.actions">
                {{ action.name }}
            </md-button>
        </md-card-actions>
    </md-card>
</div>
